.formulario {
    width: 100%;
}

.campo {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    label {
        flex: 0 0 10rem;
        color: $blanco;
    }
    input {
        flex: 1;
        border-radius: 1rem;
        border:none;
        padding: $separacion/4;
    }
}


.alerta {
    text-transform: uppercase;
    color: $blanco;
    padding: 1rem;
    font-weight: $bold;
    text-align: center;
    border-radius: 2rem;
    margin-bottom: 1rem;
    &.error-message {
        
        

    }
    &[class*="error"] {
        background-color: $morado;
    }

    &[class*="warning"] {
        background-color: yellow;
    }

    &[class*="success"] {
        background-color: greenyellow;
    }
}