.paginacion {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
    
    button {
        border: none;
        background-color: $negro;
        color: $blanco;
        font-weight: $bold;
        font-size: 2.5rem;
        padding: 0.5rem 1rem;
        margin: 3rem auto;
        @include tablet {
            margin: 3rem 0;
        }
        
        display: block;
        text-align: center;

        &:hover {
            color: $azul;
            cursor: pointer;
        }
        &.ocultar {
            visibility: hidden;
        }
    }
}