.tabs{
    @include grid(3,2rem);
    button {
        background-color: $negro;
        border: none;
        font-size: 2rem;
        font-weight: $bold;
        padding: 1rem;
        text-align: center;
        color: $blanco;
        text-transform: uppercase;
        &.actual {
            color: $azul;
            border-bottom: 4px solid $azul;
        }
        &:hover {
            cursor: pointer;
            color: lighten($azul,30);
            border-bottom: 4px solid lighten($azul,30);
        }
    }
}

